@import "variables";
@import "elements";
@import "dice";

@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');


@start-animation-delay: .4s;
@font-family--secondary: 'Major Mono Display', monospace;
@font-family--base: 'Comfortaa', cursive;

html, body {
	height: 100%;
	overflow: hidden;
	margin: 0;
	padding: 0;
	font-family: @font-family--base;
}

*,
*::after,
*::before {
	box-sizing: border-box;
}

.background {
	background-color: #2b4162;
	background-image: linear-gradient(315deg, #2b4162 0%, #12100e 74%);
	display: block;
	left: 0;
	right: 0;
	position: absolute;
	top: 0;
	bottom: 0;
	z-index: -1;
}



.wrapper-randomize-action {
	align-items: center;
	display: flex;

	flex-flow: column;
	height: 100%;
	justify-content: center;
	margin: 0 auto;
	width: 50%;

	.wrapper-title {
		font-family: @font-family--secondary;
		position: relative;

		h1 {
			mix-blend-mode: overlay;
			color: #ffffff;
			font-weight: 100;

			span {
				font-weight: 900;
			}
		}
	}

	.additional-info {
		font-family: @font-family--secondary;
		color: #fff;
	}
}

#content {
	margin-top: 10px;
	margin-left: 10px;

	.film-item {
		animation: fadeIn 1s cubic-bezier(0.19, 0.9, 0.32, 1.28);
		animation-fill-mode: both;
		backdrop-filter: blur(5px);
		-webkit-backdrop-filter: blur(5px);
		@supports (-moz-appearance:none) {
			background-color: #fff;
		}
		background: #ececec0d;
		border: 1px solid #ececec0d;
		border-radius: 30px;
		color: #fff;
		display: block;
		height: 110px;
		margin-bottom: 10px;
		max-width: 25%;
		mix-blend-mode: lighten;
		padding: 15px;
		position: relative;

		.movie-genre,
		.movie-title {
			margin-bottom: 5px;
			mask-image: linear-gradient(to right, black 50%, transparent 100%);
			-webkit-mask-image: linear-gradient(to right, black 50%, transparent 100%);
			position: relative;
			overflow: hidden;
			white-space: nowrap;
		}

		.movie-genre {
			font-size: 12px;
		}

		&-wrapper {
			align-items: center;
			display: flex;
			justify-content: space-between;
		}

		&-rating {
			align-items: center;
			color: #848484;
			display: flex;
			flex-flow: column;
			justify-content: space-evenly;

			.rating-value {
				font-family: @font-family--secondary;
				font-size: 20px;
				font-weight: 700;
				margin-bottom: 5px;
				white-space: nowrap;

				&--negative {
					color: #ff0000;
				}

				&--neutral {
					color: #848484;
				}

				&--positive {
					color: #093;
				}
			}

			.rating-count {
				font-family: @font-family--secondary;
				font-size: 12px;
				font-weight: 400;
				white-space: nowrap;
			}

			.rating-title {
				font-size: 10px;
				font-weight: 900;
				margin-top: 5px;
				white-space: nowrap;
			}
		}

		&-info {
			font-family: @font-family--base;
			width: 50%;
		}

		&-poster {
			border-radius: 10px;
		}

		&:nth-child(1) {
			animation-delay: @start-animation-delay * 0;
		}

		&:nth-child(2) {
			animation-delay: @start-animation-delay * 1;
		}

		&:nth-child(3) {
			animation-delay: @start-animation-delay * 2;
		}

		&:nth-child(4) {
			animation-delay: @start-animation-delay * 3;
		}

		&:nth-child(5) {
			animation-delay: @start-animation-delay * 4;
		}

		&:nth-child(6) {
			animation-delay: @start-animation-delay * 5;
		}

		&:nth-child(7) {
			animation-delay: @start-animation-delay * 6;
		}

		&:nth-child(8) {
			animation-delay: @start-animation-delay * 8;
		}

		//
		//.film-item:nth-child(9) {
		//    animation-delay: @start-animation-delay * 9;
		//}
		//
		//.film-item:nth-child(10) {
		//    animation-delay: @start-animation-delay * 10;
		//}
	}
}

@-webkit-keyframes fadeIn {
	0% {
		opacity: 0;
		right: 100px;
	}
	75% {
		opacity: 0.75;
		right: -75px;
	}
	100% {
		opacity: 1;
		right: 0;
	}
}


.close {
	position: absolute;
	right: 32px;
	top: 32px;
	width: 32px;
	height: 32px;
	opacity: 0.3;
	display: none;

	&:hover {
		opacity: 1;
	}

	&:before, &:after {
		position: absolute;
		left: 15px;
		content: ' ';
		height: 33px;
		width: 2px;
		background-color: #fff;
	}

	&:before {
		transform: rotate(45deg);
	}

	&:after {
		transform: rotate(-45deg);
	}
}

.database-section {
	background-color: #303a4533;
	backdrop-filter: blur(5px);
	border-radius: 5px;
	color: #eeeeeed1;
	font-family: monospace;
	font-size: 16px;
	position: absolute;
	top: 20px;
	right: -16%;
	width: 16%;
	transition: all cubic-bezier(0.38, 0.08, 0.61, 0.79) 300ms;

	&:after {
		content: "";
		width: 20px;
		height: 100px;
	}

	&:hover {
		box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
		right: 0;

		.button-showing {
			width: 0;
			left: 0;
			opacity: 0;
		}
	}

	.status-connection {
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
		padding: 5px;
        text-align: center;

		&.success {
			background-color: #00800078;
		}

        &.error {
          background-color: #A0000078;
        }

		.svg-wrapper {
			position: absolute;
			left: 12px;
			svg:hover {
				fill: #12100e;
			}
		}
	}

	.button {
		border: 1px solid #ffffff59;
		color: #ffffffe8;
		font-size: 19px;
		letter-spacing: 3px;
		width: 90%;
	}

	.button-showing {
		align-items: center;
		background: #0000008c;
		color: #ffffffbf;
		display: flex;
		font-size: 14px;
		height: 100px;
		justify-content: center;
		left: -20px;
		position: absolute;
		top: 25px;
		text-align: center;
		text-orientation: mixed;
		transition: all cubic-bezier(0.38, 0.08, 0.61, 0.79) 300ms;
		width: 20px;
		writing-mode: vertical-lr;
	}

	.container-checkbox,
	.qty-films,
	.last-update {
		margin: 10px;
	}

	.last-update {
		.interval {
			display: block;
			font-size: 12px;
		}
	}
}

