@import "elements";

html, body {
    height: 100%;
}
span {
    font-weight: 900;
}
h1 {
    font-weight: 100;
}

.top {
    transform: translate(0,-250px);
    transition: all 1s ease;
}

#content {
    position: absolute;
    left: 70px;
    top: 200px;
    transition: all cubic-bezier(0.38, 0.08, 0.61, 0.79) 300ms;
}

.item {
    width: 350px;
    position:absolute;
    font-weight: normal;
    background-color: #202428;
    color: white;
    border-radius: 5px;
    display: none;
}