@import "variables";
@import "elements";

@start-animation-delay: .4s;

html, body {
    height: 100%;
}
span {
    font-weight: 900;
}
h1 {
    font-weight: 100;
}

.top {
    transform: translate(0,-250px);
    transition: all 1s ease;
}

//#content {
//    position: absolute;
//    left: 70px;
//    top: 200px;
//    transition: all cubic-bezier(0.38, 0.08, 0.61, 0.79) 300ms;
//}

.item {
    width: 350px;
    position:absolute;
    font-weight: normal;
    background-color: #202428;
    color: white;
    border-radius: 5px;
    display: none;
}

//.film-item {
//    background: #efefef;
//    padding: 15px;
//    border-radius: 30px;
//    margin-bottom: 10px;
//    position: relative;
//    left: -105%;
//}
#first {
    margin-top: 10px;
}

.film-item {
    height: 110px;
    background: #efefef;
    padding: 15px;
    border-radius: 30px;
    margin-bottom: 10px;
    position: relative;
    display: block;
    animation: fadeIn 1s cubic-bezier(0.19, 0.9, 0.32, 1.28) ;
    animation-fill-mode: both;
    .movie-genre,
    .movie-title {
        white-space: nowrap;
        overflow: hidden;
        position: relative;
        &:after {
            content: "";
            position: absolute;
            right: 0;
            top: 0;
            width: 40px;
            height: 100%;
            background: linear-gradient(to left, rgb(239 239 239), #fff0 100%);
        }
    }
    .film-item-rating {
        .rating-value {
            font-size: 20px;
            font-weight: 700;
            margin-right: 5px;
            &--negative {
                color: #ff0000;
            }
            &--neutral {
                color: #333;
            }
            &--positive {
                color: #093;
            }
        }
        .rating-count {
            color: #888;
            font-size: 12px;
            font-weight: 600;
        }
        .rating-title {
            font-size: 15px;
            font-weight: 500;
            margin-left: 5px;
        }
    }
}



.film-item:nth-child(1) {
    animation-delay: @start-animation-delay * 0;
}

.film-item:nth-child(2) {
    animation-delay: @start-animation-delay * 1;
}

.film-item:nth-child(3) {
    animation-delay: @start-animation-delay * 2;
}

.film-item:nth-child(4) {
    animation-delay: @start-animation-delay * 3;
}

.film-item:nth-child(5) {
    animation-delay: @start-animation-delay * 4;
}

.film-item:nth-child(6) {
    animation-delay: @start-animation-delay * 5;
}

.film-item:nth-child(7) {
    animation-delay: @start-animation-delay * 6;
}

.film-item:nth-child(8) {
    animation-delay: @start-animation-delay * 8;
}
//
//.film-item:nth-child(9) {
//    animation-delay: @start-animation-delay * 9;
//}
//
//.film-item:nth-child(10) {
//    animation-delay: @start-animation-delay * 10;
//}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
        right: 100px;
    }
    75% {
        opacity: 0.75;
        right: -75px;
    }
    100% {
        opacity: 1;
        right: 0;
    }
}


.close {
    position: absolute;
    right: 32px;
    top: 32px;
    width: 32px;
    height: 32px;
    opacity: 0.3;
    display: none;
}
.close:hover {
    opacity: 1;
}
.close:before, .close:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: #333;
}
.close:before {
    transform: rotate(45deg);
}
.close:after {
    transform: rotate(-45deg);
}
.database-section {
     border: 1px solid #202428;
     border-radius: 10px;
     position: absolute;
     top: 20px;
     right: 20px;
     width: 10%;
 }

